In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("web_scrp_data.csv", index_col=0)
data.head()

,Address,Amenities,description,price
0,"Lovojo Estate Lekki Schemes 2, Ajah",4 4,4 Units Of 4 Bedroom Terraces Smart House,"N45,000,000"
1,"Ogombo Road; Opposite Urban Prime Three, Abrah...",3 3,Classic 3 Bedroom Terrace House,"N55,000,000"
2,"Ajiwe Bus Stop, By Abraham Adesanya Roundabout...",2 2,Lovely 2 & 3 Terrace Duplex With Bq,"N38,000,000"
3,"Lavadia Series 2, Ogombo, Ajah",3 3,3 Bedroom Terrace + Standard Bq,"N65,000,000"
4,"Banana Island, Ikoyi, Banana Island, Ikoyi",7 7 320 m² 600 m²,Luxuriously Built Waterfront Detached Home For...,"N850,000,000"

In [3]:
data.description.value_counts()

4 Bedroom Detached Duplex                                                                          11
5 bedroom detached duplex with BQ                                                                  10
5 Bedroom Detached Duplex                                                                           7
4 Bedroom Fully Detached Duplex With Bq                                                             5
Newly Built 4 Bedroom Detached Duplex With Bq For Sale                                              5
                                                                                                   ..
Newly built 3Bedroom Terrace Duplex with BQ                                                         1
FOR SALE: 5 BEDROOM FULLY DETACHED DUPLEX WITH SWIMMING POOL AND CINEMA At Lekki Phase 1, Lagos     1
New Built 4 Bedroom Semi Detached Duplex                                                            1
Luxury 4 bedroom terrace                                                                            1
Newly built state of the art 4 bedroom terrace duplex                                               1
Name: description, Length: 186, dtype: int64

In [4]:
def check_null(i):
    check = pd.isna(data[i]).value_counts()
    print('------'*19)
    print(i)
    print(check)

In [9]:
for i in data:
    check_null(i)

------------------------------------------------------------------------------------------------------------------
Address
False    300
Name: Address, dtype: int64
------------------------------------------------------------------------------------------------------------------
Amenities
False    300
Name: Amenities, dtype: int64
------------------------------------------------------------------------------------------------------------------
description
False    300
Name: description, dtype: int64
------------------------------------------------------------------------------------------------------------------
price
False    300
Name: price, dtype: int64
------------------------------------------------------------------------------------------------------------------
bedroom
False    300
Name: bedroom, dtype: int64

In [10]:
def bedroom(A):
    A.split(' ')
    return A[0]

In [11]:
def bathroom(B):
    B.split(' ')
    return B[2]

In [12]:
data['bedroom'] = data.apply(lambda row: bedroom(row['Amenities']), axis=1)
data['bedroom']

0      4
1      3
2      2
3      3
4      7
      ..
295    4
296    5
297    4
298    3
299    5
Name: bedroom, Length: 300, dtype: object

In [13]:
data['bathroom/toilet'] = data.apply(lambda row: bathroom(row['Amenities']), axis=1)
data['bathroom/toilet']

0      4
1      3
2      2
3      3
4      7
      ..
295    4
296    5
297    4
298    3
299    5
Name: bathroom/toilet, Length: 300, dtype: object

In [14]:
data

,Address,Amenities,description,price,bedroom,bathroom/toilet
0,"Lovojo Estate Lekki Schemes 2, Ajah",4 4,4 Units Of 4 Bedroom Terraces Smart House,"N45,000,000",4,4
1,"Ogombo Road; Opposite Urban Prime Three, Abrah...",3 3,Classic 3 Bedroom Terrace House,"N55,000,000",3,3
2,"Ajiwe Bus Stop, By Abraham Adesanya Roundabout...",2 2,Lovely 2 & 3 Terrace Duplex With Bq,"N38,000,000",2,2
3,"Lavadia Series 2, Ogombo, Ajah",3 3,3 Bedroom Terrace + Standard Bq,"N65,000,000",3,3
4,"Banana Island, Ikoyi, Banana Island, Ikoyi",7 7 320 m² 600 m²,Luxuriously Built Waterfront Detached Home For...,"N850,000,000",7,7
...,...,...,...,...,...,...
295,"Buena Vista Estate Off Orchid Road, Chevron Dr...",4 4,Four (4) bedroom fully detached duplex with a ...,"N75,000,000",4,4
296,"Chevron Drive, Lekki",5 5,5 Bedrooms Fully Detached Duplex with BQ for s...,"N160,000,000",5,5
297,"Behind Chevron Head Office Lekki, Chevron Driv...",4 4,Brand New 4 Bedroom Duplex With Driveway,"N85,000,000",4,4
298,"Megamond Estate, Ikota, Lekki",3 3,3 Bedroom Terrace Duplex With Bq,"N50,000,000",3,3
299,"Chevyview Estate, Chevron Drive, Lekki",5 5,Spacious 5 Bedroom Fully Detached Duplex with ...,"N83,000,000",5,5

In [15]:
def sep_word(A):
        ban = A.split(",")
        return str(ban[-1])

In [16]:
data['location'] = data.apply(lambda row: sep_word(row['Address']), axis=1)
data['location']

0        Ajah
1        Ajah
2        Ajah
3        Ajah
4       Ikoyi
        ...
295     Lekki
296     Lekki
297     Lekki
298     Lekki
299     Lekki
Name: location, Length: 300, dtype: object

In [17]:
# Remove the first and end spaces
def remove_first_end_spaces(string):
    return "".join(string.rstrip().lstrip())

data['location'] = data.apply(lambda row: remove_first_end_spaces(row['location']), axis=1)

In [18]:
data['location'].value_counts()

Lekki              207
Ajah                46
Ikoyi               33
Victoria Island      7
Ikeja                3
Ketu                 2
Ikorodu Road         1
Surulere             1
Name: location, dtype: int64

In [19]:
data['Area'] = np.nan

In [20]:
for i in range(len(data['location'])):
    if data['location'][i]=='Lekki':
        lek = data['Address'][i]
        barn = lek.split(",")
        data['Area'][i] = barn[-2]
    else:
        data['Area'][i] = data['location'][i]

//anaconda3/envs/new2/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/Users/enahoro/.local/lib/python3.7/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [ ]:
for i in range(len(data['location'])):
    if data['location'][i]=='Lekki':
        lek = data['Address'][i]
        barn = lek.split(",")
        data['Area'][i] = barn[-2]
    elif data['location'][i]=='Ajah':
        try:
            lek = data['Address'][i]
            barn = lek.split(",")
            data['Area'][i] = barn[-2]
        except:
            data['Area'][i] = np.nan
    else:
        data['Area'][i] = data['location'][i]

In [21]:
data['Area'].value_counts()

 Ikota                   54
Ajah                     46
 Chevron Drive           45
Ikoyi                    33
 Ikate Elegushi          20
Ikota                    19
 Lekki Expressway        16
Victoria Island           7
 Lekki Phase 2            7
 Idado                    5
Ologolo                   5
Osapa                     5
Idado                     5
Lekki Phase 1             5
Chevron Drive             4
 Lekki Phase 1            4
Agungi                    4
Ikeja                     3
 Osapa                    3
Ketu                      2
 Agungi                   2
 Lafiaji                  2
Ikorodu Road              1
Surulere                  1
 Ologolo                  1
 Victoria Garden City     1
Name: Area, dtype: int64

In [22]:
# Remove the first and end spaces
data['Area'] = data.apply(lambda row: remove_first_end_spaces(row['Area']), axis=1)
data['Area'].value_counts()

Ikota                   73
Chevron Drive           49
Ajah                    46
Ikoyi                   33
Ikate Elegushi          20
Lekki Expressway        16
Idado                   10
Lekki Phase 1            9
Osapa                    8
Lekki Phase 2            7
Victoria Island          7
Agungi                   6
Ologolo                  6
Ikeja                    3
Ketu                     2
Lafiaji                  2
Victoria Garden City     1
Ikorodu Road             1
Surulere                 1
Name: Area, dtype: int64

In [23]:
data

,Address,Amenities,description,price,bedroom,bathroom/toilet,location,Area
0,"Lovojo Estate Lekki Schemes 2, Ajah",4 4,4 Units Of 4 Bedroom Terraces Smart House,"N45,000,000",4,4,Ajah,Ajah
1,"Ogombo Road; Opposite Urban Prime Three, Abrah...",3 3,Classic 3 Bedroom Terrace House,"N55,000,000",3,3,Ajah,Ajah
2,"Ajiwe Bus Stop, By Abraham Adesanya Roundabout...",2 2,Lovely 2 & 3 Terrace Duplex With Bq,"N38,000,000",2,2,Ajah,Ajah
3,"Lavadia Series 2, Ogombo, Ajah",3 3,3 Bedroom Terrace + Standard Bq,"N65,000,000",3,3,Ajah,Ajah
4,"Banana Island, Ikoyi, Banana Island, Ikoyi",7 7 320 m² 600 m²,Luxuriously Built Waterfront Detached Home For...,"N850,000,000",7,7,Ikoyi,Ikoyi
...,...,...,...,...,...,...,...,...
295,"Buena Vista Estate Off Orchid Road, Chevron Dr...",4 4,Four (4) bedroom fully detached duplex with a ...,"N75,000,000",4,4,Lekki,Chevron Drive
296,"Chevron Drive, Lekki",5 5,5 Bedrooms Fully Detached Duplex with BQ for s...,"N160,000,000",5,5,Lekki,Chevron Drive
297,"Behind Chevron Head Office Lekki, Chevron Driv...",4 4,Brand New 4 Bedroom Duplex With Driveway,"N85,000,000",4,4,Lekki,Chevron Drive
298,"Megamond Estate, Ikota, Lekki",3 3,3 Bedroom Terrace Duplex With Bq,"N50,000,000",3,3,Lekki,Ikota
299,"Chevyview Estate, Chevron Drive, Lekki",5 5,Spacious 5 Bedroom Fully Detached Duplex with ...,"N83,000,000",5,5,Lekki,Chevron Drive

In [24]:
import re

In [25]:
def extract_details(rep: str):
    '''it extracts details from the description and it returns a string'''
    word = r'Terrace|Terraces|Detached|Duplex|Mansion'
    result = re.findall(word, rep, flags=re.I)
    #convert to a string
    result = " ".join(result)
    return result.title() #title case

In [26]:
# make a copy
df = data.copy()

In [27]:
df['Details'] = df['description'].apply(extract_details)
df['Details']

0              Terrace
1              Terrace
2       Terrace Duplex
3              Terrace
4             Detached
            ...
295    Detached Duplex
296    Detached Duplex
297             Duplex
298     Terrace Duplex
299    Detached Duplex
Name: Details, Length: 300, dtype: object

In [28]:
df.Details.value_counts()

Detached Duplex     206
Terrace Duplex       25
Detached             22
Terrace              22
                     16
Duplex                6
Mansion               2
Detached Terrace      1
Name: Details, dtype: int64

In [29]:
df

,Address,Amenities,description,price,bedroom,bathroom/toilet,location,Area,Details
0,"Lovojo Estate Lekki Schemes 2, Ajah",4 4,4 Units Of 4 Bedroom Terraces Smart House,"N45,000,000",4,4,Ajah,Ajah,Terrace
1,"Ogombo Road; Opposite Urban Prime Three, Abrah...",3 3,Classic 3 Bedroom Terrace House,"N55,000,000",3,3,Ajah,Ajah,Terrace
2,"Ajiwe Bus Stop, By Abraham Adesanya Roundabout...",2 2,Lovely 2 & 3 Terrace Duplex With Bq,"N38,000,000",2,2,Ajah,Ajah,Terrace Duplex
3,"Lavadia Series 2, Ogombo, Ajah",3 3,3 Bedroom Terrace + Standard Bq,"N65,000,000",3,3,Ajah,Ajah,Terrace
4,"Banana Island, Ikoyi, Banana Island, Ikoyi",7 7 320 m² 600 m²,Luxuriously Built Waterfront Detached Home For...,"N850,000,000",7,7,Ikoyi,Ikoyi,Detached
...,...,...,...,...,...,...,...,...,...
295,"Buena Vista Estate Off Orchid Road, Chevron Dr...",4 4,Four (4) bedroom fully detached duplex with a ...,"N75,000,000",4,4,Lekki,Chevron Drive,Detached Duplex
296,"Chevron Drive, Lekki",5 5,5 Bedrooms Fully Detached Duplex with BQ for s...,"N160,000,000",5,5,Lekki,Chevron Drive,Detached Duplex
297,"Behind Chevron Head Office Lekki, Chevron Driv...",4 4,Brand New 4 Bedroom Duplex With Driveway,"N85,000,000",4,4,Lekki,Chevron Drive,Duplex
298,"Megamond Estate, Ikota, Lekki",3 3,3 Bedroom Terrace Duplex With Bq,"N50,000,000",3,3,Lekki,Ikota,Terrace Duplex
299,"Chevyview Estate, Chevron Drive, Lekki",5 5,Spacious 5 Bedroom Fully Detached Duplex with ...,"N83,000,000",5,5,Lekki,Chevron Drive,Detached Duplex

# Artifical Neural Networks

In [ ]:
X = df.iloc[:, :-1].values
Y = df.iloc[:, -1].values

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state=101)

In [ ]:
mean = X_train.mean(axis=0)
X_train-= mean
std = X_train.std(axis=0)
X_train /= std

X_test -= mean
X_test -= std

In [ ]:
import tensorflow as tf

ann = tf.keras.models.Sequential()
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics= ['accuracy'])

In [ ]:
ann.fit(X_train, Y_train, batch_size = 10, epochs=100)

In [ ]:
Y_pred = ann.predict(X_test)
Y_pred = (Y_pred > 0.5)
print(np.concatenate((Y_pred.reshape(len(Y_pred),1), Y_test.reshape(len(Y_test),1)),1))

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(Y_test, Y_pred)
print(cm)
accuracy_score(Y_test, Y_pred)